body {
    font-family: "Times New Roman", serif;
    margin: 40px;
    background-color: #f8f9fa;
}

h1 {
    color: black;
    font-size: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h3 {
    color: gray;
}

p {
    text-align: justify;
    text-indent: 40px;
    font-size: 18px;
    line-height: 1.6;
}
a {
    color: #0645ad;
    text-decoration: none;
}

a:visited {
    color: #0b0080; /* màu sau khi đã click */
}